# <FilesMatch ".(?:html|php)$">
#      SetHandler application/x-httpd-alt-php83
# </FilesMatch>

# # <FilesMatch "\.(php4|php5|php7|php81|php82|php83|php3|php2|php|phtml)$">
# # SetHandler application/x-httpd-alt-php83
# # </FilesMatch>

# <IfModule mod_rewrite.c>
#   RewriteCond %{REQUEST_URI} !^/public/
#   RewriteRule ^(.*)$ /public/$1 [L,QSA]
# </IfModule>


<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]


    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
